/* variables */

:root {
  --text-grey: #96979C;
  --text-white: #ECECEE;
  --input-background: #2a2e3a;
  --input-border: #363a45;
}


/* RESETTING CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #0D111D;
  color: var(--text-grey)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}